{% extends 'admin/base.admin.html.twig' %}

{% block body %}
    <div id="page-wrapper" style="min-height: 602px;">

        <div class="row">
            <div class="col-lg-6">
                <h1 class="page-header">{{ 'admin.page.title.resume.diplomas' | trans | capitalize }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="panel-body">
                    {{ form_start(form, {'attr': { 'novalidate': 'novalidate' } } ) }}

                    <p>
                        {{ form_label(form.dateBegin, 'admin.page.form.training.new_training.date_begin' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.dateBegin) }}
                        {{ form_errors(form.dateBegin) }}
                    </p>

                    <p>
                        {{ form_label(form.dateEnd, 'admin.page.form.training.new_training.date_end' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.dateEnd) }}
                        {{ form_errors(form.dateEnd) }}
                    </p>


                    <p>
                        {{ form_label(form.name_fr, 'admin.page.form.training.new_training.name_fr' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.name_fr, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.name_fr' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.name_fr) }}
                    </p>

                    <p>
                        {{ form_label(form.name_en, 'admin.page.form.training.new_training.name_en' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.name_en, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.name_en' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.name_fr) }}
                    </p>

                    <p>
                        {{ form_label(form.academy_fr, 'admin.page.form.training.new_training.academy_fr' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.academy_fr, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.academy_fr' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.academy_fr) }}
                    </p>

                    <p>
                        {{ form_label(form.academy_en, 'admin.page.form.training.new_training.academy_en' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.academy_en, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.academy_en' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.academy_en) }}
                    </p>



                    <p>
                        {{ form_label(form.description_fr, 'admin.page.form.training.new_training.description_fr' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.description_fr, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.description_fr' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.description_fr) }}
                    </p>

                    <p>
                        {{ form_label(form.description_en, 'admin.page.form.training.new_training.description_en' | trans | capitalize ~ ' :') }}
                        {{ form_widget(form.description_en, { 'attr' : {
                            'placeholder' : 'admin.page.form.training.new_training.placeholder.description_en' | trans | capitalize
                        }}) }}
                        {{ form_errors(form.description_en) }}
                    </p>



                    <p>
                        <input type="submit" name="submit" value="ADD" class="btn btn-info">
                    </p>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

