<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ url('homepage.index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit fa-fw "></i> Articles<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('item.index') }}">Articles</a>
                    </li>
                    <li>
                        <a href="{{ url('category.index') }}">Categories</a>
                    </li>
                    <li>
                        <a href="{{ url('skill.index') }}">Compétances</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="{{ url('service.index') }}"><i class="fa fa-table fa-fw"></i> Services</a>
            </li>
            <li>
                <a href="{{ url('daily.index') }}"><i class="fa fa-bar-chart-o fa-fw"></i> Au Quatidien</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Résumé<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('trainning.index') }}"> Diplômes et Formations</a>
                    </li>
                    <li>
                        <a href="{{ url('project.index') }}">Projets et Réalisations</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="{{ url('contact.index') }}"><i class="fa fa-sitemap fa-fw"></i> Contact</a>

            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->